<div id="divFormProducts">
    <div id="formProducts">
        <label >producto</label><input type="text" id="title" placeholder="ej: gol trend">
        <label >descripcion</label><input type="text" id="description" placeholder="ej: 2012, naftero">
        <label >codigo</label><input type="text" id="code" placeholder="000">
        <label >precio</label><input type="text" id="price" placeholder="ej: 1$">
        <label >stock</label><input type="text" id="stock" placeholder="ej: 1">
        <label >categoria</label><input type="text" id="category" placeholder="ej: automotor">
        <label >imagenes</label><input type="text" id="thumbnails" placeholder="archivo">
        <button id="send">Enviar</button>
    </div>
</div>
<div id="productsFromForm">
</div>


<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="js/index.js"></script>